/build*/
/cmake-build*/
/.vs/
/.vscode/
/bin/
/obj/
/install/
/Testing/
/coverage/

*.o
*.obj
*.a
*.lib
*.exe
*.dll
*.dll.a
*.so
*.dylib
*.elf
*.hex
*.map
*.lst
*.pdb
*.ilk
*.user
*.suo
*.gcda
*.gcno
*.gcov
*.profraw
*.profdata
lcov.info
*.su
*.core
*.tmp
*.bak
*~
